body {
  font-size:13pt;
}
img {
  float: left;
}
.quote {
  padding-top: 20px;
  font-size: 10pt;
  text-align: center;
  display: inline-block;
}
li {
  margin: 0;
	padding: 20px 0 20px 60px;
	list-style: none;
	background-image: url('tndot.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}